{% comment %} Settings {% endcomment %}
{%- assign blogArticlesDefault = blogs[section.settings.blogName].articles -%}
{%- assign blogArticles = blogs[section.settings.blogName].articles -%}
{%- assign blogLink = blogs[section.settings.blogName].url -%}

{%- assign title = section.settings.heading -%}
{%- assign cta = section.settings.cta -%}

{%- assign layout = section.settings.layout -%}
{%- assign articleRows = section.settings.article_rows | plus: 0 -%}
{%- assign articleColumns = section.settings.article_columns | plus: 0 -%}
{%- assign articlesCount = articleColumns | times: articleRows -%}
{%- assign columnsSize = articleColumns | replace: '1', '' -%}
{%- assign image_size = section.settings.image_size -%}

{%- comment -%} Section {%- endcomment -%}
<section data-section-type="featured-blog" class="blogModule container-wrap style-default"
         id="blog-module-{{ section.id }}">
    <div class="nxs container">
        <div class="carousel pad-sm">
            <div class="row carousel-title">
                {%- if title != blank -%}
                    <h2>{{ title }}</h2>
                {%- endif -%}
                {%- if section.settings.text != blank -%}
                    <div class="row">
                        <p>{{ section.settings.text }}</p>
                    </div>
                {%- endif -%}
                {%- if cta != blank -%}
                    <a href="{{ blogLink }}" class="button button--{{ section.settings.button_style }}">{{ cta }}</a>
                {%- endif -%}
            </div>

            <div class="blogModule-posts__wrapper">
                    {%- for article in blogArticles limit: articlesCount -%}

                        <div class="container-wrap blog-listing nxs-ajustes">
                            <div class="row">
                                {%- assign article = blog.articles[0] -%}
                                {%- capture article_meta -%}
                                    <p class="details">
                                        {% if section.settings.author %}
                                            {{ 'blog.article.by_author' | t: author: article.author }} &bull;
                                        {% endif %}
                                        {% if article.comments_count > 0 and showComments %}
                                            &nbsp;&bull;&nbsp;<span
                                                class="comment-count"><em>{{ 'blog.blog_list_view.comment_count' | t: count: article.comments_count }}</em></span>
                                        {% endif %}
                                    </p>
                                {%- endcapture -%}

                                <div class="article article--featured {% if article.image == blank %}article--no-image{% else %}article--has-image{% endif %}">
                                    {%- unless article.image == blank -%}
                                        <div class="article-image-container">
                                            <div class="article-image lazyload fade-in"
                                                 data-bgset="{% include 'bgset', image: article.image %}"
                                                 data-sizes="auto" data-parent-fit="cover">
                                                <a href="{{ article.url }}" title="{{ article.title }}"></a>
                                            </div>
                                            <noscript>
                                                <div class="article-image no-js-image"
                                                     style="background-image:url('{{ article.image | img_url: '1024x' }}'); background-size: cover; background-position: center center; background-repeat: no-repeat;"
                                                     title="{{ article.title }}">
                                                    <a href="{{ article.url }}" title="{{ article.title }}"></a>
                                                </div>
                                            </noscript>
                                            {{ article_meta }}
                                        </div>
                                    {%- endunless -%}

                                    <div class="article-content">
                                        {%- if article.tags.size > 0 and section.settings.tags -%}
                                            <p class="tags">
                                                {% for tag in article.tags %}
                                                    <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>
                                                {% endfor %}
                                            </p>
                                        {%- endif -%}
                                        <div class="nxs-content-align">
                                            <time pubdate
                                                  datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: '%B %d, %Y' }}</time>
                                        <h2 class="title js-title">
                                            <a href="{{ article.url }}">{{ article.title }}</a>
                                        </h2>

                                        <div class="article__excerpt js-article__excerpt">
                                            <p>{{ article.excerpt_or_content | strip_html | strip | truncatewords: 40, "... <i class='nxs-leermas'>leer mas.</i>" }}</p>
                                        </div>
                                        </div>

                                        {%- if article.image == blank -%}
                                            {{ article_meta }}
                                        {%- else -%}
                                            {% include 'accent-line' %}
                                        {%- endif -%}
                                    </div>

                                </div>
                        </div>





                    {%- endfor -%}
                </div>
            </div>
        </div>
    </div>
</section>

{% comment %} Schema {% endcomment %}
{% schema %}
    {
    "name": "Blog posts",
    "settings": [
    {
    "type": "select",
    "id": "layout",
    "label": "Layout",
    "default": "wrapped",
    "options": [
    { "label": "Wrapped", "value": "wrapped" },
    { "label": "Full width", "value": "fullwidth" }
    ]
    },
    {
    "type": "select",
    "id": "image_size",
    "label": "Image size",
    "default": "large",
    "options": [
    { "value": "normal", "label": "Normal" },
    { "value": "large", "label": "Large" }
    ]
    },
    {
    "type": "header",
    "content": "Content"
    },
    {
    "type": "blog",
    "id": "blogName",
    "label": "Blog"
    },
    {
    "type": "text",
    "id": "heading",
    "label": "Heading"
    },
    {
    "type": "text",
    "id": "text",
    "label": "Text"
    },
    {
    "type": "text",
    "id": "cta",
    "label": "Button label",
    "info":"Links to blog"
    },
    {
    "type": "select",
    "id": "button_style",
    "label": "Button style",
    "default": "primary",
    "options": [
    { "label": "Primary", "value": "primary" },
    { "label": "Light", "value": "light" }
    ]
    },
    {
    "type": "header",
    "content": "Settings"
    },
    {
    "type": "checkbox",
    "id": "tags",
    "label": "Show tags",
    "default": true
    },
    {
    "type": "checkbox",
    "id": "author",
    "label": "Show author",
    "default": true
    },
    {
    "type": "range",
    "id": "article_rows",
    "label": "Posts rows",
    "default":1,
    "min":1,
    "max":4,
    "step":1
    },
    {
    "type": "range",
    "id": "article_columns",
    "label": "Posts per row",
    "default":4,
    "min":1,
    "max":5,
    "step":1
    } ],
    "presets": [ {
    "category": "Blog",
    "name": "Blog posts",
    "settings": {
    "blogName": "news",
    "heading": "News"
    }
    } ]
    }
{% endschema %}
